
body{
    overflow-x: hidden;
}
.navbar, footer{
    background-color: #2c3e50;
}
.jumbotron, .text{
    background-color: #1abc9c;
}
.images, .credenziali{
    background-color: white;
}
.link{
    background-color: #3a546d;
}
.line{
    width: 130px;
    height: 2px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.images .line{
    background-color: black;
}
.credenziali .line{
    background-color: black;
}
.images h2{
    margin-top: 30px;
}
.pulsante{
    border: solid 1px white;
    text-decoration: none;
    color: white;
    cursor: pointer;
}